In [1]:
import os
import scrape
import pandas as pd
from selenium.webdriver.chrome.options import Options
from selenium.webdriver.chrome.service import Service
from selenium import webdriver

In [2]:
df = pd.DataFrame([
    [0,1,1,0],
    [0,0,0,1],
    [0,0,0,1],
    [0,0,1,0],
], index=["A", "B", "C", "D"], columns=["A", "B", "C", "D"])

m = scrape.MatrixSearcher(df)
m.bfs_search('A')
m.dfs_search('A')
print(m.order)

['A', 'B', 'D', 'C']

In [3]:
f = scrape.FileSearcher("./file_nodes")
print(f.visit_and_get_children("1.txt"))
f.bfs_search("1.txt")
print(f.order)
print(f.concat_order())

['2.txt', '5.txt']
['1.txt', '2.txt', '5.txt', '3.txt', '6.txt', '4.txt', '7.txt']
1.txt2.txt5.txt3.txt6.txt4.txt7.txt

In [4]:
os.system("pkill -f -9 chromium")
options = Options()
options.headless = True
driver = webdriver.Chrome(options=options)
ws = scrape.WebSearcher(driver)
start_url = "http://35.226.216.162:5000/Node_1.html"
print(ws.visit_and_get_children(start_url))
ws.bfs_search(start_url)
print(ws.table())

['http://35.226.216.162:5000/Node_2.html', 'http://35.226.216.162:5000/Node_5.html']
    clue   latitude   longitude                          description
0      8  51.180315   -1.829659                 Stonehenge in the UK
1      2  27.987586   86.925002                 Mt. Everest in Nepal
2      8  51.180315   -1.829659                 Stonehenge in the UK
3      2  27.987586   86.925002                 Mt. Everest in Nepal
4      4  34.134117 -118.321495                 Hollywood Sign in LA
5      5  38.655100   90.061800                 Cahokia Mounds in IL
6      9  40.748400   73.985700          Empire State Building in NY
7      4  29.975300   31.137600        Great Sphinx of Giza in Egypt
8      8  35.360600  138.727400                  Mount Fiji in Japan
9      0  27.175100   78.042100               The Taj Mahal in India
10     9  51.503200   -0.119500                       The London Eye
11     1  47.557600   10.749800     Neuschwanstein Castle in Germany
12     5  38.624700   90.184800        The Gateway Arch in St. Louis
13     3  30.328500   35.444400                      Petra in Jordan
14     2  41.480800   82.683400                    Cedar Point in OH
15     6  43.070010  -89.409450          Quick Trip on Monroe Street
16     4  37.819900 -122.478600        The Golden gate in California
17     7  41.890200   12.492200                The Colosseum in Rome
18     3  -3.067400   37.355600            Mt. Kilimanjaro in Africa
19     5  11.349300  142.199600         Mariana Trench deepest Point
20     7  43.060600  -89.410000           Henry Vilas Zoo in Madison
21     1  36.117300 -115.176100      The Caesars Palace in Las Vegas
22     1  46.852300 -121.760300             Mount Rainier in Seattle
23     1  43.089034  -89.416128              Picnic Point in Madison
24     7  38.105507  126.910613               Silver Beach in Hawaii
25     1  65.044901  -16.712836  Shore of a Volcanic Lake in Iceland
26     3  48.860945    2.335773                  The Louvre in Paris
27     5  37.434183 -122.321990      Redwood forest in San Francisco

In [5]:
try:
    start_url = 'http://35.226.216.162:5000/Node_1.html'
    web_searcher = scrape.WebSearcher(driver)
    web_searcher.bfs_search(start_url)
    df = web_searcher.table()
    clues = df['clue'].tolist()
    travellog = pd.DataFrame({'clue': clues})

    url = 'http://35.226.216.162:5000/'
    current_location = scrape.reveal_secrets(driver, url, travellog)
    print(current_location)

finally:
    driver.quit()

STATE CAPITOL